@font-face {
  font-family: "G2 Erika";
  src: url("fonts/G2Erika-Thin.woff2") format("woff2"),
    url("fonts/G2Erika-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "G2 Erika";
  src: url("fonts/G2Erika-Light.woff2") format("woff2"),
    url("fonts/G2Erika-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "G2 Erika";
  src: url("fonts/G2-Erika-Regular.woff2") format("woff2"),
    url("fonts/G2-Erika-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "G2 Erika";
  src: url("fonts/G2Erika-Medium.woff2") format("woff2"),
    url("fonts/G2Erika-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "G2 Erika";
  src: url("fonts/G2Erika-Bold.woff2") format("woff2"),
    url("fonts/G2Erika-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --default-font: "G2 Erika", sans-serif;
  --default-font-weight: 300;
  --default-font-size: 20px;
  --default-margin: 15px;
  --default-margin-medium: 10px;
  --default-margin-small: 5px;
  --default-line-width: 1px;
  --default-border-radius: 0;
}

* {
  font-family: var(--default-font);
  font-weight: var(--default-font-weight);
  font-size: var(--default-font-size);
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

button,
.button-like {
  font-family: var(--default-font);
  font-weight: var(--default-font-weight);
  font-size: var(--default-font-size);
  cursor: pointer;
  padding: var(--default-margin-small) var(--default-margin-medium);
  background: var(--background);
  border: var(--default-line-width) solid var(--text);
  color: var(--text);
  border-radius: var(--default-border-radius);
  user-select: none;
  transition: all 100ms;
}

button:hover,
.button-like:hover {
  background: var(--text);
  color: var(--background);
}

button:disabled,
.button-like:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button:active,
.button-like:active {
  outline: none;
  box-shadow: 0 0 0 2px var(--text);
}

*::selection {
  background: var(--text);
  color: var(--background);
}


#root {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  color: var(--text);
  display: flex;
  flex-direction: column;
}

.hidden-for-intro {
  opacity: 1;
  transition: all 1s;
}

.hidden-for-intro.hidden {
  opacity: 0;
}

.top-bar {
  width: 100vw;
  padding: var(--default-margin);
  display: flex;
  justify-content: space-between;
  user-select: none;
}

.top-bar.hidden {
  opacity: 0;
}

.top-bar > div {
  flex: 1;
  text-align: center;
  font-variant-numeric: tabular-nums;
}

.top-bar > div:first-of-type {
  text-align: left;
}

.top-bar > div:last-of-type {
  text-align: right;
}

.game-panel {
  max-width: 36vw;
  padding: var(--default-margin);
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
}

.interaction-box {
  overflow-y: auto;
  flex-grow: 2;
}

.space-diorama-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: none;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.message {
  margin-bottom: var(--default-margin);
}

.actions-container {
  display: flex;
  flex-direction: column;
  gap: var(--default-margin-small);
  margin-top: var(--default-margin);
}
